{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>O nas</h1>
        <p style="padding-left:3em;">czyli o autorach serwisu..</p>
      </div>
    </div>
{% endblock %}

{% block center %}
<div class="col-sm-12" style="text-align: center">
<h3>Projekt wykonywany w ramach laboratorium MiA</h3>
<p>w składzie:</p>
<h2>ŁB</h2>
<h2>KK</h2>
</div>

{% endblock %}
